<h3>編集画面</h3>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <% form_with model: @admin,url: admin_admin_path(@admin) local:true do |f|%>
      <table>
        <tr>
          <th>ニックネーム</th>
          <td><%= f.text_field :nickname, autofocus: true %></td>
        </tr>
        <tr>
          <th>誕生日</th>
          <td><%= f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 1), default: Date.new(2000, 1, 1) %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
      </table>
      <%= f.submit "変更を保存" %>
      <% end %>
    </div>
  </div>
</div>