<h3>編集画面</h3>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <% form_with model: @admin, local:true do |f|%>
      <table>

      </table>
    </div>
    </div>
</div>