<h3>会員一覧</h3>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <table>
        <tr>
          <th>名前</th>
          <th>ニックネーム</th>
        </tr>
        <% @customers.each do |customer| %>
        <td><%= customer.full_name %></td>
        <td>
          <%= form_with model: customer, local:true do |f| %>
          <%= f.text_field :nickname, autofocus: true %>
          <%= f.submit "変更", class: "btn btn-success" %>
          <% end %>
        </td>
        <% end %>
      </table>
    </div>
  </div>
</div>